.HostNav {
  width:100%;

  background-color: #222222;
  height:80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.NavGroup {
  max-width: 1000px;
  display: flex;
  /* flex-direction: column; */
  /* justify-items: center; */
  /* display: flex; */
  /* margin: 0 auto; */

}
.NavLink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.NavItem {
  margin: 50px;
  display:flex;
  align-items: center;
  font-size: 24px;
  color: 
}
.logo {
  color: white;
}